@import url("https://fonts.googleapis.com/css?family=Comic+Neue&display=swap");
#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  position: absolute;
  top: 110px;
}
#container #profile {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
#container #profile #emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 7rem;
}
#container #profile #info {
  display: flex;
  flex-direction: column;
}
#container #profile #info > p {
  font-family: var(--primaryFont);
  color: var(--text);
}
#container #profile #info #name {
  font-size: 4rem;
}
#container #myList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
}
#container #myList > p {
  align-self: flex-start;
  margin-bottom: 5px;
  font-family: var(--primaryFont);
  font-size: 2rem;
  color: var(--text);
}
#container #myList #topicsDiv {
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin-bottom: 10px;
}
#container #myList #topicsDiv #topics {
  display: flex;
  overflow-x: auto;
  width: 100%;
}
#container #myList #topicsDiv #topics > app-topic {
  flex-shrink: 0;
}
#container #myList #topicsDiv #plus {
  margin-left: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: 300ms transform;
}
#container #myList #topicsDiv #plus:hover {
  transform: scale(1.05);
}
#container #myList #topicsDiv #plus #original-icon {
  fill: var(--text);
}
#container #myList #cards {
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  width: 90%;
  border: 2px solid white;
  border-radius: 10px;
  overflow-x: auto;
}
#container #myList #cards > app-card {
  flex-shrink: 0;
}
#container #myList #favouriteTitle {
  align-self: flex-start;
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: var(--primaryFont);
  font-size: 2rem;
  color: var(--text);
}
#container #myList #favourite {
  display: flex;
  align-items: center;
  align-self: flex-start;
  width: 90%;
  overflow-x: auto;
}
#container #myList #favourite > app-card {
  flex-shrink: 0;
}
#container #settingsDiv {
  display: flex;
  flex-direction: column;
  margin: 0 40px 40px 40px;
}
#container #settingsDiv p {
  align-self: flex-start;
  margin-bottom: 5px;
  font-family: var(--primaryFont);
  font-size: 2rem;
  color: var(--text);
}
#container #settingsDiv #settings {
  display: flex;
  flex-direction: column;
}
#container #settingsDiv #settings > div {
  position: relative;
  width: 300px;
  height: 50px;
  margin: 5px;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container #settingsDiv #settings > div p {
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--primaryFont);
  font-size: 1.2rem;
  color: var(--text);
  user-select: none;
}
#container #settingsDiv #settings #editProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 300ms, height 300ms;
}
#container #settingsDiv #settings #editProfile.clicked {
  width: 600px;
  height: 300px;
}
#container #settingsDiv #settings #editProfile #editFields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  position: relative;
}
#container #settingsDiv #settings #editProfile #editFields #avatarDiv #avatar {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  user-select: none;
  transition: 300ms left;
}
#container #settingsDiv #settings #editProfile #editFields #avatarDiv #avatar:hover #emoji1 {
  filter: blur(4px) sepia(60%) brightness(1.5);
}
#container #settingsDiv #settings #editProfile #editFields #avatarDiv #avatar:hover #overlayPlus {
  opacity: 1;
}
#container #settingsDiv #settings #editProfile #editFields #avatarDiv #avatar.clickedAvatar {
  left: 100px;
}
#container #settingsDiv #settings #editProfile #editFields #avatarDiv #avatar #overlayPlus {
  position: absolute;
  transform: translate(-50%, -55%);
  font-family: "Comic Neue", cursive;
  font-size: 5rem;
  color: white;
  opacity: 0;
  transition: 300ms opacity;
}
#container #settingsDiv #settings #editProfile #editFields #avatarDiv #avatar #emoji1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 4rem;
  transition: 300ms filter;
}
#container #settingsDiv #settings #editProfile #editFields input {
  margin-top: 100px;
  height: 40px;
  width: 250px;
  border: 0;
  border-bottom: 1px solid var(--secondary);
  background-color: transparent;
  color: var(--text);
  font-size: 1.2rem;
  font-family: var(--secondaryFont);
  padding-left: 10px;
}
#container #settingsDiv #settings #editProfile #editFields button {
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid var(--secondary);
  border-radius: 10px;
  color: var(--text);
  font-size: 1.2rem;
  font-family: var(--secondaryFont);
  padding: 10px;
  cursor: pointer;
}
#container #settingsDiv #settings #editProfile #editFields button:hover {
  background-color: var(--primary);
}

/*# sourceMappingURL=profile.component.css.map */
