
<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">

</head>

<body>
 

    <div class="watchMe-header" > 

        <h1>Watch Me</h1>

    </div>
    <div class="wrapper" data-simplebar data-simblebar-auto-hide="false">  

        
        <app-picture-card> </app-picture-card><app-picture-card> </app-picture-card>
        
        <app-picture-card> </app-picture-card>
        <app-picture-card> </app-picture-card>
        <app-picture-card> </app-picture-card>
        <app-picture-card> </app-picture-card>
        <app-picture-card> </app-picture-card>
        <app-picture-card> </app-picture-card>
        <app-picture-card> </app-picture-card>
    </div>
        

    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
</body>

</html>