::ng-deep :root {
  --primary: #A1A1CA;
  --secondary: #78A0CF;
  --background: #3C3F41;
  --text: whitesmoke;
  --secondaryFont: 'Source Sans Pro', sans-serif;
  --primaryFont: 'Montserrat', sans-serif;
}