::ng-deep :root {
  --primary: #F55
}

p {
  margin: 0;
}

app-watch-it{
  background-color: #252525;
  
}

app-top-ten{
  background-color: #252525;
}

.mainContent{
  display: grid;
  grid-template-columns: 35% 30% 35%;
}

