::ng-deep :root {
  --primary: #A1A1CA;
  --secondary: #78A0CF;
  --background: #252525;
  //--background: #3C3F41;
  --text: whitesmoke;
  //--secondaryFont: 'Source Sans Pro', sans-serif;
  --primaryFont: 'Acme', sans-serif;
  //--secondaryFont: 'Montserrat', sans-serif;
  --secondaryFont: 'Josefin Sans', sans-serif;
  //--primaryFont: 'Bangers', cursive;
  --accent: purple;

}

p {
  margin: 0;
}

app-watch-it{
  background-color: #252525;

}

app-top-ten{
  background-color: #252525;
}

.mainContent{
  display: grid;
  grid-template-columns: 35% 30% 35%;
}

