#poll {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 800px;
  background-color: var(--text);
  margin-top: 120px;
}
#poll > svg {
  position: absolute;
  z-index: 5;
}
#poll #camera {
  bottom: 5%;
  left: 20%;
}
#poll #camera#original-icon {
  fill: var(--primary);
}
#poll #popcorn {
  top: 40%;
  right: 0;
  transform: rotate(20deg);
}
#poll #clapperboard {
  bottom: 30%;
  left: 0;
  transform: rotate(-20deg);
}
#poll #ticket {
  bottom: 20%;
  right: 7%;
  transform: scale(2);
}
#poll #tv {
  top: 20%;
  left: 8%;
  transform: scale(2);
}
#poll #container {
  position: relative;
  width: 92%;
  height: 92%;
  background-color: #3C3F41;
  box-shadow: 10px 5px 5px black;
}
#poll #container #circle {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: #EADEDA;
}
#poll #container #circle p {
  text-align: center;
}
#poll #container #question {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  color: var(--text);
  font-size: 2rem;
  font-family: var(--primaryFont);
  text-align: center;
}
#poll #container #answerDiv {
  position: absolute;
  bottom: 12%;
  left: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 60%;
  overflow-y: auto;
  transform: translateX(-50%);
}
#poll #container #answerDiv #cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#poll #container #answerDiv #cards .card {
  width: 22%;
  height: 60%;
  margin: 10px;
  background-color: red;
  background-image: url("https://m.media-amazon.com/images/M/MV5BYWZjMjk3ZTItODQ2ZC00NTY5LWE0ZDYtZTI3MjcwN2Q5NTVkXkEyXkFqcGdeQXVyODk4OTc3MTY@._V1_UY1200_CR90,0,630,1200_AL_.jpg");
  transition: 300ms box-shadow ease, 300ms transform ease;
}
#poll #container #answerDiv #cards .card:hover {
  cursor: pointer;
}
#poll #container #answerDiv #cards .card.selected {
  box-shadow: 5px 5px 5px #9ed964;
  transform: scale(1.05);
}
#poll #container #answerDiv #top3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#poll #container #answerDiv #top3 div {
  width: 40%;
  height: 20%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#poll #container #answerDiv #top3 div p {
  margin-right: 10px;
  font-size: 1.2rem;
  color: var(--text);
}
#poll #container #answerDiv #top3 div input {
  width: 100%;
  height: 50%;
  border: 0 solid #C7EDE6;
  border-bottom-width: 3px;
  background-color: var(--secondary);
  font-size: 1.4rem;
  font-family: var(--primaryFont);
}
#poll #container #answerDiv #multipleChoice > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 400px;
  height: 70px;
  background-color: var(--primary);
  cursor: pointer;
}
#poll #container #answerDiv #multipleChoice > div:hover, #poll #container #answerDiv #multipleChoice > div.selected {
  background-color: var(--secondary);
}
#poll #container #answerDiv #multipleChoice > div p {
  font-family: var(--primaryFont);
  font-size: 1.2rem;
}
#poll #container button {
  margin: 5px;
  position: absolute;
  bottom: 2%;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
#poll #container button svg {
  width: 50px;
  height: 50px;
}
#poll #container button svg #original-icon {
  fill: var(--text);
}
#poll #container #back {
  left: 0;
}
#poll #container #next {
  right: 0;
  transform: rotate(180deg);
}

#title {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  text-align: center;
  font-size: 40px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  font-family: var(--primaryFont);
}
#title p {
  color: white;
}
#title #wasteTime {
  color: var(--primary);
  font-size: 20px;
  font-family: var(--secondaryFont);
}

/*# sourceMappingURL=poll.component.css.map */
