/* html, body {
  background: #FCEEB5;
  font-family: Abel, Arial, Verdana, sans-serif;
}

.card {
  width: 450px;
  height: 230px;
  background-color: rgb(214, 211, 211);
  background: linear-gradient(#a3a2a2, rgb(175, 174, 174));
  box-shadow: 0 16px 32px -16px rgba(3, 3, 3, 0.438);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#EADEDA, #fff);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .movie-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;

}
img{
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.card .additional .movie-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #000;
  margin-bottom: 0;
}

.card .additional .coords {
  margin: 0 1rem;
  color: #000;
  font-size: 1rem;
}

.card .additional .coords span + span {
  float: right;
}

.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #000;
}


.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
} =============== 

@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;



}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #000;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0, 0.5);
  width: 300px;
  height: 450px;
}

.card .poster {
  position: relative;
  overflow: hidden;
}

.card .poster:before {
  content: "";
  position: absolute ;
  bottom: -190px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg,#000 50%, transparent);
  transition: 0.5s;
  z-index: 1;
}

.card:hover .poster:before {
  bottom: 0;
}

.card .poster img {
  width: 100%;
  transition: 0.5s;
}

.card:hover .poster img {
  filter: blur(2px);
  transform: translateY(-30px);
}

.details {
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 74%;
  bottom: -190px;
  left: 0;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 2;
}

.card:hover .details {
  bottom: 0;
}

.details h2 {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.details h2 span {
  font-size: 14px;
  color: #ff9800;
}

.rating {
  position: relative;
  padding: 5px, 0;
}

.rating .fa {
  color: #f7f406;
  margin-right: 2px;
  font-size: 16px;
}

.rating span {
  color: #fff;
  padding: 0 5px;
}

.tags {
  position: relative;
  margin-top: 5px;
}

.tags span {
  padding: 2px 5px;
  margin-right: 2px;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
}

.tags span.fantasy {
  background: #7206f7;
}

.tags span.scifi {
  background: #f70661;
}

.info {
  color: #fff;
}

.info p {
  margin: 15px, 0, 10px;
}

.star {
  position: relative;
}

.star h4 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #f7f406
}

.star ul {
  margin: 10px 0 0;
  padding: 0;
  display: flex;
}

.star ul li {
  list-style: none;
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 6px;
  border: 2px solid #fff;
}

.star ul li img {
  width: 100%;
}*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
.row {
  padding: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 10px;
}

.movie-card {
  width: 300px;
  height: 450px;
  position: relative;
  float: left;
  overflow: hidden;
}

.card-header {
  padding: 10px;
}

.release-date {
  color: #fff;
}

.movie-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateY(calc(70px + 1em));
  transform: translateY(calc(160px + 1em));
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.content {
  position: relative;
  color: #fff;
  overflow: hidden;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.movie-card:hover .movie-content {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.movie-card:hover .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  transition: 0.3s;
}

.release-date p {
  margin: 0;
}

.movie-text {
  padding: 0px 0 25px 0;
}

a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/*# sourceMappingURL=picture-card.component.css.map */
