<!-- 
  <div class="card">
    <div class="additional">
      <div class="movie-card">
        <img src="https://www.mauvais-genres.com/27765/joker-original-movie-poster-15x20-in-2019-joaquin-phoenix.jpg">
      </div>
      <div class="more-info">
        <h1>Parasite</h1>
        <div class="coords">
          <span>Group Name</span>
          <span>Joined January 2019</span>
        </div>
        <div class="coords">
          <span>Position/Role</span>
          <span>City, Country</span>
        </div>
        <div class="stats">
          <div>
            <div class="title">Awards</div>
            <i class="fa fa-trophy"></i>
            <div class="value">2</div>
          </div>
          <div>
            <div class="title">Matches</div>
            <i class="fa fa-gamepad"></i>
            <div class="value">27</div>
          </div>
          <div>
            <div class="title">Pals</div>
            <i class="fa fa-group"></i>
            <div class="value">123</div>
          </div>
          <div>
            <div class="title">Coffee</div>
            <i class="fa fa-coffee"></i>
            <div class="value infinity">∞</div>
          </div>
        </div>
      </div>
    </div>
    <div class="general">
      <h1>Parasite</h1>
      <p>A poor family, the Kims, con their way into becoming the servants of a rich family, the Parks. But their easy life gets complicated when their deception is threatened with exposure.</p>
      <span class="more">More info</span>
    </div>
  </div>

 

  <html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Avengers Movie Card UI</title>
  <link rel = "stylesheet" href = "css/style.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
 ==============


  <div class="card">
    <div class="poster"><img src = "https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/1/11/Avengers_Infinity_war_poster.jpeg/revision/latest/scale-to-width-down/324?cb=20180316141550"></div>
    <div class="details">
      <h2>Avengers Infinity War (2018)<br><span>Juiced By Jimmy Heuangpangna</span></h2>

      <div class="rating">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <span>5/5</span>
      </div>

      <div class="tags">
        <span class="fantasy">Fantasy</span>
        <span class="scifi">Sci Fi</span>
      </div>

      <div class="info">
        <p>Iron Man, Thor, the Hulk and the rest of the Avengers unite to battle their most powerful enemy yet</p>
      </div>

      <div class="star">
        <h4>Cast</h4>
        <ul>
          <li><img src = "https://www.famousbirthdays.com/headshots/robert-downey-jr-2.jpg"></li>
          <li><img src = "https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTU1MTM0NzA2NzQ3MTg4NDQw/chris-evans-arrives-at-the-los-angeles-premiere-of-captain-america-the-winter-soldier-held-at-the-el-capitan-theatre-on-march-13-2014-in-hollywood-california-photo-by-michael-tran_filmmagicjpg-square.jpg"></li>
          <li><img src = "https://www.india-forums.com/images/celebrity/l_12804.jpg"></li>
          <li><img src = "https://imageresizer.static9.net.au/LYRtJfSVUFCURsyAlx6qdMXJzwI=/400x0/http%3A%2F%2Fprod.static9.net.au%2F_%2Fmedia%2FNetwork%2FImages%2Favengers300616Scarjo.jpg"></li>
          <li><img src="https://www.famousbirthdays.com/faces/boseman-chadwick-image.jpg"></li>
        </ul>
      </div>
    </div>
  </div>


-->

<div class="row">
  <div class="movie-card" *ngFor="let movie of watchMeList" style="background: url({{movie.MoviePic}}); background-size: cover;" mat-raised-button (click)="openMoviePage(movie)" >
    <div class="overlay">
      <div class="card-header">
        <div class="release-date">
          <p style="font-size: 12px">Recomended: Highly</p>
        </div>
        <div class="movie-content">
          <div class="content">
            <h1>{{movie.MovieName}}</h1>
            <p class="movie-text">{{movie.MovieDesc}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>