<div id="title">
    <p>Quarentime</p>
    <p id="wasteTime">Waste time</p>
</div>

<div class="gener-div">
    <ul class="questions-list">
        <li class="question">
            <h3>
                What gener do you like?

            </h3>
            
            <div class="answer-list">
                <p class="answer" *ngFor="let gener of geners"> {{gener}} </p> 
            </div>
        </li>
    </ul>

</div>

<div id="multipleChoice">
    <div >
      <p>das</p>
    </div>

    <div >
      <p>dsa</p>
    </div>

    <div >
      <p>gf</p>
    </div>

    <div>
      <p>gerge</p>
    </div>
  </div>