@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto");
#title {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  text-align: center;
  font-size: 40px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  font-family: var(--primaryFont);
}
#title p {
  color: white;
}
#title #wasteTime {
  color: var(--primary);
  font-size: 20px;
  font-family: var(--secondaryFont);
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.instructions {
  margin-top: 100px;
  text-align: left;
  margin-left: 210px;
}

/****** Style Star Rating Widget *****/
.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin-right: 10px;
  margin-top: 0;
  font-size: 1em;
  font-family: FontAwesome;
  display: inline-block;
  content: "";
}

.rating > .half:before {
  content: "";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/
/* show gold star when clicked */
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
}

/* hover previous stars in list */
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #ffd700;
}

a[data-tooltip] {
  position: relative;
}

a[data-tooltip]::before,
a[data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 0.85;
}

a[data-tooltip]::before {
  /*
   * using data-tooltip instead of title so we
   * don't have the real tooltip overlapping
   */
  content: attr(data-tooltip);
  background: #000;
  color: #fff;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  /* we don't want the text to wrap */
  white-space: nowrap;
  text-decoration: none;
}

a[data-tooltip]::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: "";
}

a[data-tooltip]:hover::before,
a[data-tooltip]:hover::after {
  display: block;
}

/** positioning **/
/* top tooltip */
a[data-tooltip][data-placement=top]::before {
  bottom: 100%;
  left: 0;
  margin-bottom: 40px;
}

a[data-tooltip][data-placement=top]::after {
  border-top-color: #000;
  border-bottom: none;
  bottom: 50px;
  left: 20px;
  margin-bottom: 4px;
}

body {
  background-color: #0d1b2b;
  overflow-x: hidden;
  font-family: var(--secondaryFont);
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

.flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.slider-wrapper div {
  position: relative;
}

.slider-wrapper {
  margin-top: 3vw;
  margin-left: 11vw;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
.slider-wrapper ::-webkit-scrollbar {
  width: 12px;
}
.slider-wrapper ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.slider-wrapper ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.slide-image {
  height: 24vw;
}

.slide-image img {
  width: 24vw;
  cursor: pointer;
}

.slide-content {
  width: 25vw;
  color: #fff;
  padding: 0 18vw 3vw 9vw;
}

.slide-title {
  color: var(--accent);
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.1vw;
  padding-bottom: 1.4vw;
  font-family: var(--primaryFont);
}

.slide-desc {
  font-size: 1.2vw;
  font-weight: 400;
  letter-spacing: 0.1vw;
  line-height: 1.55vw;
  padding-bottom: 1.8vw;
  color: var(--text);
  font-family: --secondaryFont;
}

.slide-text {
  font-size: 0.8vw;
  line-height: 1.2vw;
  opacity: 0.8;
  padding-bottom: 4vw;
}

.slide-more {
  font-weight: 400;
  letter-spacing: 0.1vw;
  float: left;
  font-size: 0.9vw;
  margin-left: 0;
}

.slide-bullet {
  width: 0.5vw;
  height: 0.5vw;
  background-color: #0b8bcc;
  border-radius: 200%;
  position: relative;
  margin-left: 0;
}

.slide-nav {
  margin-left: 64vw;
  margin-top: -5.5vw;
}

div.overlay-blue {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: 0.5s ease all;
}

div.overlay-blue:hover {
  background-color: rgba(13, 27, 43, 0.5);
}

.arrows {
  width: 3.5vw;
  position: fixed;
  bottom: 100px;
  right: 250px;
}

.arrow {
  display: inline-block;
  position: absolute;
  width: 1.2vw;
  height: 1.2vw;
  background: transparent;
  text-indent: -9999px;
  border-top: 0.15vw solid #fff;
  border-left: 0.15vw solid #fff;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  color: transparent;
}

.arrow:hover {
  border-color: #0a8acb;
  border-width: 0.25vw;
  cursor: pointer;
}

.arrow:before {
  display: block;
  height: 200%;
  width: 200%;
  margin-left: -50%;
  margin-top: -50%;
  content: "";
  transform: rotate(45deg);
}

.arrow.prev {
  transform: rotate(-45deg);
  left: 0;
}

.arrow.next {
  position: fixed;
  transform: rotate(135deg);
  right: 400px;
  bottom: 110px;
}

.submit-button {
  font-family: var(--secondaryFont);
  text-transform: uppercase;
  outline: 0;
  background: var(--accent);
  border-radius: 20px;
  width: 120px;
  border: 0;
  opacity: 1;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  transition-property: background-color;
  transition-duration: 0.3s;
  cursor: pointer;
}

.arrows button:hover {
  background-color: var(--primary);
  font-size: 1.2;
  width: 1.2;
  height: 1.2;
}

app-search-bar {
  float: right;
  margin-top: -70px;
}

app-my-lists {
  float: right;
  z-index: 10;
  position: absolute;
  right: 1vw;
  top: 6vh;
}

.myLists-Wrapper {
  display: grid;
  border-color: #f0a3a3;
  height: 80vh;
  width: 28.5vw;
  grid-template-columns: 98%;
  background-color: #181c1f;
  box-shadow: inset 0 0 20px #000;
  border-radius: 10px;
  overflow: auto;
  scrollbar-color: var(--background-dark) #252525 !important;
  scrollbar-width: thin !important;
  margin-top: 22px;
  float: right;
  right: 1vw;
  z-index: 10;
  position: absolute;
  top: 14vh;
}

/*# sourceMappingURL=survey.component.css.map */
