<div id="title">
  <p>Quarentime</p>
  <p id="wasteTime">Waste time</p>
</div>

<div class="login-page">
  <div class="form">
    <form class="login-form" ngNativeValidate [formGroup]="user" (ngSubmit)="sendresetemail()">
      <p class="text-reest">An email will be sent to you, to reset your password.</p>
      <input type="text" placeholder="Email" formControlName="email" required />
      <label class="error"><b>{{errorMessage}}</b></label>
      <label class="success"><b>{{successMessage}}</b></label>
      <a class="error" routerLink= "../login" ><b>{{successMessage_2}}</b></a>
      <button type="submit">SEND EMAIL</button>
    </form>
  </div>
</div>
<!-- 
<div id="container">
    <form ngNativeValidate [formGroup]="user" (ngSubmit)="sendresetemail()">
    <h1>PASSWORD RESET</h1>
    <label><b>A email to reset your password will be sent to you email address</b></label>
    <input type="text" placeholder="Enter Email" formControlName="email" required>
    <label class="error"><b>{{errorMessage}}</b></label>
    <label class="success"><b>{{successMessage}}</b></label>
    <a class="success" routerLink= "../login" ><b>{{successMessage_2}}</b></a>
    <button type="submit">Send email</button>
</form>
</div>
-->