<div class="myLists-menue">
  <div class="page">
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__group"  (click)="selectOption1()">
          <h1 class="menu__link" [class.active]="Option1">Most Popular</h1>
        </li>
        <li class="menu__group" (click)="selectOption2()">
          <h1 class="menu__link" [class.active]="Option2">New</h1>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="myLists-Wrapper">
  <app-my-lists-movie [Option1]="Option1" [WatchedList]="WatchedList"></app-my-lists-movie>
</div>