<div class="myLists-menue">
  <div class="page">
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__group"  (click)="selectMostPopular()">
          <h1 class="menu__link" [class.active]="MostPopular">Most Popular</h1>
        </li>
        <li class="menu__group" (click)="selectNew()">
          <h1 class="menu__link" [class.active]="New">Upcoming</h1>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="myLists-Wrapper">
  <app-my-lists-movie [Option1]="New" [WatchedList]="NewMovies"></app-my-lists-movie>
  <app-my-lists-movie [Option1]="MostPopular" [WatchedList]="MostPopularList"></app-my-lists-movie>

</div>
