/*
=====
EFFECT FADING OUT FOR SIBLINGS MENU OPTIONS
=====
*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

.menu:hover .menu__link:not(:hover) {
    color: var(--textDark);
}

.menu .menu__link:not(.active) {
    color: var(--textDark);
}


/*
  =====
  MENU STYLES
  =====
  */

/* core styles */

.menu__list {
    display: flex;
    text-align: center;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.menu__group {
    flex-grow: 1;
}

.menu__link {
    display: block;
}

/* skin */

.menu {
    margin-top: 1.5em;
    background-color: var(--accent);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    height: auto;
}

.menu__link {
    padding: 4px;

    //font-weight: 500;

    color: var(--text);
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
}

/* states */
.menu__link:focus {
    outline: 2px solid #252525;
}

/* hover animation */

.menu__link {
    position: relative;
    overflow: hidden;

    will-change: color;
    transition: color 0.25s ease-out;
    cursor: pointer;
}

.menu__link::before,
.menu__link::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #252525;

    will-change: width;
    transition: width 0.1s ease-out;

    position: absolute;
    bottom: 0;
}

.menu__link::before {
    left: 50%;
    transform: translateX(-50%);
}

.menu__link::after {
    right: 50%;
    transform: translateX(50%);
}

.menu__link:hover::before,
.menu__link:hover::after {
    width: 100%;
    transition-duration: 0.2s;
}

@media (min-width: 768px) {
    html {
        font-size: 62.5%;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 50%;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue,
        sans-serif;
    font-size: 1.6rem;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page {
    box-sizing: border-box;
    width: 28.5vw;

    height: auto;
    order: 1;
    margin: 0;
}

.myLists-Wrapper {
    display: grid;
    border-color: rgb(240, 163, 163);
    height: 75vh;
    width: 28.5vw;
    grid-template-columns: 98%;
    background-color: #181C1F;
    box-shadow: inset 0 0 20px #000;
    border-radius: 10px;
    overflow: auto;
    scrollbar-color: var(--background-dark) #252525 !important;
    scrollbar-width: thin !important;
    ::-webkit-scrollbar-thumb{
        border-radius: 10px;
    }
    margin-top: 22px;
}
.myLists-menue {
    background-color: var(--accent);
    color: var(--text);
    border-radius: 10px;
    width: 28.5vw;
    text-align: center;
    box-shadow: 0 1px 5px 1px #000;
    font-family: 'Source Sans Pro', sans-serif;
}
h1{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
