:host {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 300px;
  height: 150px;

  position: relative;

  &:hover {
    #delete {
      opacity: 1;
    }
  }

  #delete {
    position: absolute;
    top: 0;
    right: 0;
    color: #f0a3a3;
    z-index: 5;
    opacity: 0;

    cursor: pointer;

    transition: opacity 300ms;

    #original-icon {
      fill: whitesmoke;
    }
  }
}
#container {
  border: 1px solid white;
  border-radius: 10px;
  position: relative;

  width: 75%;
  height: 65%;

  background-color: var(--primary);

  cursor: pointer;

  &:hover,
  &.selected {
    box-shadow: 0 0 10px white;
  }

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 1.2rem;
    font-family: var(--primaryFont);
    color: var(--text);
  }

  #input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid whitesmoke;
    border-radius: 10px;
    background-color: transparent;
  }
  #edit {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
    #original-icon {
      fill: var(--text);
    }
  }
  #checkmark {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  #colors {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 10px;

    &>div{
      border: 1px solid white;
      border-radius: 50%;

      width: 20px;
      height: 20px;

      margin: 2px;
    }
  }
}
